type proc_touchpanel, fs_type;
type cam_proc, file_type;
type cam_sysfs, sysfs_type;
type nv_data_file, file_type;
type sysfs_ps_sensor, sysfs_type, fs_type;

type proc_kernel_sched, sysfs_type, fs_type;
type sysfs_performance, sysfs_type, fs_type;
type sysfs_power_management, fs_type, sysfs_type;
