allow mm-qcamerad system_file:file execmod;
allow mm-qcamerad mm-qcamerad:tcp_socket { create setopt };
allow mm-qcamerad sysfs_ps_sensor:file rw_file_perms;
allow mm-qcamerad stm_sensor_device:chr_file r_file_perms;
