allow sensors sysfs_ps_sensor:file getattr;
allow sensors input_device:dir { search write };
allow sensors input_device:chr_file { link getattr relabelfrom };
allow sensors device:dir { add_name write };
allow sensors security_file:file { read open };
allow sensors stm_sensor_device:chr_file { relabelto };
